div * {
    font-family: Arial;
}

div h1 {
    color: blue;
}

div {
    border: 2px solid black;
}

ul {
    list-style-type: none;
}

div ~ p {
    color: brown;
}

div + p {
    color: coral;
    font-weight: bold;
}

div > p {
    color: red;
    text-decoration: underline;
}
