* {
    font-family: Calibri;
    font-weight: 600;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: orange;
}

h2 {
    color: green;
}

p {
    text-align: right;
}

ul {
    border: 3px solid black;
}

li {
    list-style-type: none;
}

li:first-of-type {
    text-decoration: underline;
    font-style: italic;
}
